* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  cursor: none;
}

body {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

@font-face {
  font-family: "Eurostile";
  src: url("Eurostile.ttf");
}

video {
  position: absolute;
  object-fit: cover;
  z-index: -1;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3em;
  width: 100vw;
  height: 100vh;
  background-image: url("overlay.png");
  background-repeat: repeat;
}

a {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px;
  width: 12em;
  text-align: center;
  font-size: 20pt;
  font-family: Eurostile;
  text-decoration: none;
  letter-spacing: 0.25em;
  color: #fff;
  transition-duration: 0.2s;
}

a:hover {
  background-color: rgba(25, 25, 25, 0.5);
}

.small {
  pointer-events: none;
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #0ff;
  border-radius: 50%;
  box-shadow: 0 0 15px #0ff, 0 0 30px #0ff;
}

.big {
  pointer-events: none;
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid #0ff;
  border-radius: 50%;
  box-shadow: 0 0 15px #0ff, 0 0 30px #0ff;
  transition: all 0.05s ease;
}

a:hover ~ .big {
  width: 30px;
  height: 30px;
}
