@import url('https://fonts.cdnfonts.com/css/satoshi');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Satoshi', sans-serif;
}

body {
    background: #000;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1000px;
    padding: 3rem 1rem 1rem;
}

header h2 {
    font-size: 3rem;
    line-height: 3.5rem;
    background: rgb(0,106,245);
    background: linear-gradient(151deg, rgba(0,106,245,1) 0%, rgba(115,176,255,1) 29%);
    -webkit-background-clip: text;
    color: transparent;
}

header p {
    color: #efefef;
    font-size: 1.2rem;
}

section {
    margin-top: 2rem;
}

#about {
    background: linear-gradient(90deg, rgb(27, 31, 59) 0%, #000 100%);
    border-radius: 5px;
    padding: 1.5rem;
    margin-top: 2rem;
}

#about p {
    font-size: 1.2rem;
    max-width: 600px;
}

h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    background: linear-gradient(144deg, rgba(221,221,221,1) 24%, rgba(111,111,111,1) 60%, rgba(42,42,42,1) 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.projects-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin-bottom: 1rem;
}

.skill-item, .project-item {
    background: #1a1a1a;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
}

.project-item {
    background: #1a1a1a;
    border-left: 2px solid rgb(0, 195, 44);
    padding: 1rem 1rem;
    border-radius: 5px;
    position: relative;
    text-decoration: none;
}

.external-link {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
    transition: 0.2s;
}

.external-link:hover {
    color: rgb(0, 195, 44);
    filter: brightness(1.5);
    cursor: pointer;
}

sup {
    font-size: .7rem;
}

#projects .ext {
    text-decoration: underline;
    color: #fff;
}

.contact-info {
    margin-top: 1rem;
}

.contact-info a {
    color: #fff;
    text-decoration: none;
}

.contact-info p {
    font-size: 1.2rem;
    margin-bottom: .7rem;
}

.contact-info a:hover {
    text-decoration: underline;
}

.work-experience {
    background: #1a1a1a;
    border-radius: 5px;
    padding: 1.5rem;
    margin-top: 2rem;
}

.code-block {
    background-color: #282c34;
    border: 1px solid #444;
    border-radius: 4px;
    font-family: 'Consolas', 'Monaco', 'Courier New', monospace;
    font-size: 14px;
    line-height: 1.5;
    overflow-x: auto;
    padding: 15px;
    margin: 10px 0;
    color: #abb2bf;
}
.code-block .prompt {
    color: #98c379;
}
.code-block .number {
    color: #d19a66;
}
.code-block .error {
    color: #e06c75;
}
.code-block .comment {
    color: #5c6370;
    font-style: italic;
}

.certificates-container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.certificate-body {
    display: flex;
    flex-direction: column;
    background: #1a1a1a;
    border-radius: 5px;
    width: 18rem;
    height: 12rem;
    border: 2px solid #003dac;
    padding-bottom: .3rem;
    transition: .3s ease all;
}

.certificate-done {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #003dac;
    width: 100%;
    gap: .3rem;
}

.certificate-name {
    display: flex;
    height: 100%;
    flex: 1;
    padding-top: 1rem;
    padding-left: 1rem;
    font-weight: bold;
}

.certificate-name p {
    font-size: 1.2rem;
}

.certificate-data {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 1rem;
}

.certificate-data i {
    opacity: .3;
}

.certificate-check {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #003dac;
    text-decoration: none;
    gap: .1rem;
    font-weight: bold;
}

.educations {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#education .education-item {
    border-left: 3px solid #fff;
    padding-left: 1rem;
}

#education .education-item i {
    font-size: .8rem;
    opacity: 80%;
}

footer {
    text-align: center;
    padding-top: 1rem;
    opacity: 30%;
}

@media (max-width: 600px) {
    #about {
        background: linear-gradient(151deg, rgb(27, 31, 59) 0%, #000 100%);
    }

    #about p {
        font-size: 1rem;
    }

    .certificates-container {
        grid-template-columns: 1fr;
    }
}